<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Task Manager - ログイン</title>
    <script defer src="../static/js/login.js"></script>
    <link rel="shortcut icon" href="../static/image/favicon.ico">
</head>
<body>
    <h1>ログイン画面</h1>
    <div id="main_container">
        <div id="user_name_container">
            <label for="user_name">ユーザー名</label>
            <input type="text" id="user_name">
        </div>
        <div id="user_pw_container">
            <label for="user_pw">パスワード</label>
            <input type="password" id="user_pw">
        </div>
        <div id="submit_button_container">
            <input type="button" id="submit_button" value="ログイン">
        </div>
    </div>
</body>
</html>
