<!DOCTYPE html>
<html lang="ja" background: lightgray;>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Task Manager - ユーザー登録</title>
    <script defer src="../static/js/register.js"></script>
    <link rel="shortcut icon" href="../static/image/favicon.ico">
</head>
<body>
    <h1>ユーザー登録画面</h1>
    <div id="user_name_container">
        <label for="user_name">ユーザー名</label>
        <input type="text" id="user_name" name="user_name">
    </div>
    <div id="user_pw_container">
        <label for="user_pw">パスワード</label>
        <input type="password" id="user_pw" name="user_pw">
    </div>
    <div id="button_container">
        <input type="button" id="submit_button" value="登録">
    </div>
</body>
</html>
